<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <%- include('../partials/sidebar'); %>
        <div class="col py-3">
            <h4 class="bg-dark text-white">Device Info : </h5>
            <div class="card text-center">
                <ul class="list-group ">
                  <li class="list-group-item" >
                    <div class="list-group-item-fixed borderless">
                      <strong class="list-group-left">Mac Address:</strong>
                      <span class="list-group-right"><%= result.mac %></span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-fixed">
                      <strong class="list-group-left">localtime:</strong>
                      <span class="list-group-right">13:49:04 </span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-fixed">
                      <strong class="list-group-left">uptime:</strong>
                      <span class="list-group-right"><%= result.uptime %></span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-fixed">
                      <strong class="list-group-left">CPU Usage:</strong>
                      <span class="list-group-right">24%</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-fixed">
                      <strong class="list-group-left">Free Memory:</strong>
                      <span class="list-group-right"><%= result.freeMemory %> %</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-fixed">
                      <strong class="list-group-left">Memory Usage:</strong>
                      <span class="list-group-right"><%= result.memoryUsage %> %</span>
                    </div>
                  </li>
                </ul>
              </div>
              <br>
            <h4 class="bg-dark text-white">Network Information</h5>
                <div class="card text-center">
                    <ul class="list-group ">
                      <li class="list-group-item" >
                        <div class="list-group-item-fixed borderless">
                          <strong class="list-group-left">IP Address:</strong>
                          <span class="list-group-right">192.168.0.101</span>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="list-group-item-fixed">
                          <strong class="list-group-left">Gateway:</strong>
                          <span class="list-group-right">192.168.0.1 </span>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="list-group-item-fixed">
                          <strong class="list-group-left">Subnet Mask:</strong>
                          <span class="list-group-right">255.255.255.0</span>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="list-group-item-fixed">
                          <strong class="list-group-left">Server Access:</strong>
                          <span class="list-group-right">UDP</span>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>